#error_Message {
	background-color: black;
	color: white;
	border-color: red;
	border-style: solid;
	float:right;
	position: relative;
	bottom: 350px;
	right: 500px;
	padding: 6px;
}

#first{
	width: 20%;
}

table {
	border-spacing: 10px;
}

#error_Message h4{
	padding: 10px;
}

#error_Message p {
	margin: 10px;
}

#results {
	background-color: black;
	color: white;
	border-color: red;
	border-style: solid;
	width: 50%;
	height: 400px;
	padding: 10px;
}