[Desktop Entry]
Encoding=UTF-8
Name=Link to Bash Guide for Beginners
Type=Link
URL=http://pdplab.it.uom.gr/teaching/linux/bash-guide-gr/bash-gr.html
Icon=text-html
